.application-form-container {
  max-width: 1000px;
  margin: 20px auto 0;
}

.application-form {
  display: flex;
  justify-content: space-between;
  min-height: 240px;
}

.application-form__dropzone-container{
  width: 400px;
}

.application-form__dropzone-container-header {
  margin-bottom: 10px;
}

.application-form__buttons-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.application-form__buttons-container-item {
  margin-left: 10px;
}

.application-form__print-application-button {
  margin: auto;
  width: 100%;
  justify-content: center;
}

@media print {
  .application-form,
  .application-form__buttons-container {
    display: none;
  }
}
