.application-form-container {
  max-width: 1000px;
  margin: 20px auto 0;
}

.application-form {
  display: flex;
  justify-content: space-between;
  min-height: 240px;
}

.dropzone-container{
  width: 400px;
}

.dropzone-container__header {
  margin-bottom: 10px;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.buttons-container__item {
  margin-left: 10px;
}

.print-application-button {
  margin: auto;
  width: 100%;
  justify-content: center;
}

.right-page-half {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media print {
  .application-form,
  .buttons-container {
    display: none;
  }
}
