@import "../../body.css";

.row__total-cell--weak-workload {
  background: lawngreen;
}

.row__total-cell--medium-workload {
  background: yellow;
}

.row__total-cell--heavy-workload {
  background: red;
}
