.table-calendar-legend-container{
    display: flex;
    margin-top: 15px;
    flex-direction: column;
}

.table-calendar-legend-element {
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    min-width: 30px;
    min-height: 30px;
    text-align: center;
    margin: 0 7px;
}

.table-calendar-legend-element-container {
    display: flex;
    align-items: center;
}

.table-calendar-legend-element-vacation-approved {
    background-color: darkgrey;
}

.table-calendar-legend-element-vacation-pending-approval {
    background: repeating-linear-gradient(45deg, black, black 2%, transparent 10%, transparent 18%);
}

.table-calendar-legend-element-selected{
    background: lightskyblue;
}

.table-calendar-legend-total-element-weak-workload{
    background: lawngreen;
}

.table-calendar-legend-total-element-medium-workload{
    background: yellow;
}

.table-calendar-legend-total-element-heavy-workload{
    background: red;
}