.table-calendar-row{
    display: flex;
    justify-content: center;
}

.table-calendar-element{
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    min-width: 30px;
    min-height: 18px;
    text-align: center;
}
/* 17(min-width) * 7 + 10(paddings) = 139 */
.table-calendar-first-column-element{
    min-width: 140px;
}