.vacation-dates {
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.vacation-dates__item {
    max-width: 200px;
}

.vacation-dates__line-between {
    height: 4px;
    width: 25px;
    background-color: #7f7f7f;
    margin: 0 10px;
}
