.application-to-print {
    display: none;
}

@media print {
    .application-to-print{
        display: block;
    }
}

.application-to-print__header {
    align-items: flex-end;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
}

.application-to-print__headline {
    text-align: center;
    padding: 40px 0;
}

.application-to-print__footer {
    text-align: right;
    padding: 40px 80px 40px 0;
}