.application {
    display: none;
}

@media print {
    .application{
        display: block;
    }
}

.application-header {
    align-items: flex-end;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
}

.application-headline {
    text-align: center;
    padding: 40px 0;
}
.application-footer {
    text-align: right;
    padding: 40px 80px 40px 0;
}