.table-calendar-container{
    max-width: 1150px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.table-calendar-button{
    max-width: 140px;
    margin-left: auto;
    margin-top: 15px;
    max-height: 40px;
}

.table-calendar-legend-and-button-container {
    display: flex;
}