.pager {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  text-align: center;
}

.pager__current-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 110px;
}

.pager__controls:hover {
  background-color: lightgrey;
}
