.row {
  display: flex;
  justify-content: center;
}

.row__cell {
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  min-width: 30px;
  min-height: 18px;
  text-align: center;
}

.row__first-column-cell {
  flex-grow: 1;
}

.row__cell-days-column {
  min-width: 45px;
}