.table-calendar-header {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  text-align: center;
}

.table-calendar-header-current-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 110px;
}

.table-calendar-controls:hover {
  background-color: lightgrey;
}
