.table-calendar-header{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.table-calendar-header-current-date{
    display: flex;
    flex-direction: column;
    justify-content: center;
}